apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{deploy_name}}
  namespace: {{namespace}}
  labels:
    app: {{deploy_name}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{deploy_name}}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate    
  template:
    metadata:
      labels:
        app: {{deploy_name}}
    spec:
      containers:
      - name: wordpress
        volumeMounts:
        - name : wordpress-storage
          mountPath: /bitnami/wordpress
        image: bitnami/wordpress:latest
        ports:
        - containerPort: {{image_port}}
        env:
        - name: ALLOW_EMPTY_PASSWORD
          value: '1'
        - name: WORDPRESS_DATABASE_HOST
          value: 127.0.0.1
        - name: WORDPRESS_DATABASE_USER
          value: {{wp_user}}
        - name: WORDPRESS_DATABASE_PASSWORD
          value: {{wp_pass}}
        - name: WORDPRESS_DATABASE_NAME
          value: {{wp_name}}
        - name: WORDPRESS_USERNAME
          value: john
        - name: WORDPRESS_PASSWORD
          value: doe
      - name: mariadb
        volumeMounts:
        - name : mariadb-storage
          mountPath: /bitnami/mariadb
        image: bitnami/mariadb:latest
        ports:
        - containerPort: 3306
        env:
        - name: ALLOW_EMPTY_PASSWORD
          value: '1'
        - name: MARIADB_USER
          value: {{wp_user}}
        - name: MARIADB_PASSWORD
          value: {{wp_pass}}
        - name: MARIADB_DATABASE
          value: {{wp_name}}
        resources:
          limits:
            cpu: "0.2"
            memory: "256Mi"
      volumes:
      - name: mariadb-storage
        hostPath:
          path: {{deployment_root_path}}/{{deploy_name}}/content/mysql/
          type: Directory
      - name: wordpress-storage
        hostPath:
          path: {{deployment_root_path}}/{{deploy_name}}/content/wordpress/
          type: Directory    